*{
    box-sizing: border-box;

}
body{
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    background-image: url("../images/susan-q-yin-2JIvboGLeho-unsplash.jpg");
    background-size: cover;

}
.login-control{
    background-color: aqua;
    padding: 10%;
    border-top-right-radius: 5px;
    border-bottom-left-radius:10px ;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.login-control >label{
    padding: 5%;

}
.login-control >input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;

}
